.piece {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.white {
    background-color: rgb(255,0,0);
}
.black {
    background-color: rgb(46, 16, 16);
}
.king {
    border-radius: 3% !important;
}